<div class='accordion' id="content_accordion">
  <%= accordion_group(t(:'admin.fieldset.general_informations'), 'general_informations_group', 'content_accordion', :open => true) do %>
    <%= f.input :section_id, :as => :hidden %>
    <%= f.input :title %>
    <%= render :partial => 'admin/shared/form_wymeditor_field', :locals => {:f => f} %>
    <%= render :partial => 'admin/shared/form_wymeditor_field', :locals => {:f => f, :field_name => :properties} %> 
  <% end %>
  
  <%= accordion_group(t(:'admin.fieldset.preview'), 'preview_group', 'content_accordion') do %>
  <%= fieldcontain_tag do %>
    <label><%= "Image".html_safe %></label>
    <div class='controls upload_file_preview'>
      <%= image_tag(resource.preview.url, :class => 'js-file-preview') if f.object.preview.present? %>
      <div class='file-field' style="display:<%= f.object.preview.present? ? 'none' : 'block' %>">
        <%= f.file_field :preview, :class => 'file' %> 
      </div>
      <br class='clearfix'\>
      <%= btn_to(t(:"admin.images.replace_file"), "", 
        :class => "small change_upload_file_btn", 
        :inline => true,
        :data => {:toggle => "toggle", :text => t(:'admin.images.cancel_replace_file') } ) if f.object.preview.present? %>
    </div> 
  <% end %>
  
<% end %> 
<%= render_image_accordion_group(f, 'content_accordion') if current_site.has_plugin?(:images) %> 
<%= render_category_accordion_group(parent, f, 'content_accordion') if current_site.has_plugin?(:categories)%>
<%= render_sticker_accordion_group(parent, f, 'content_accordion') if current_site.has_plugin?(:stickers) %>
<%= render_seo_accordion_group(f, 'content_accordion') %>
<%= render :partial => 'admin/shared/form_publish_fields', :locals => {:f => f} %>  
</div>

