<% games = @site.games.order('position ASC') %>
  <%= f.input :title %>
  <% if resource.persisted? %>
    <div class='accordion' id="content_accordion">
      <%= accordion_group(t(:'admin.fieldset.general_informations'), 'general_informations_group', 'content_accordion', :open => true) do %>  
    <% if games.any? %> 
      <%= fieldcontain_tag(:class => :check_boxes) do %> 
        <%= games.map { |p| btn_to(p.title, 
            url_for([:toggle_in_homepage, :admin, current_site, p.section, p]), 
            :remote => :true, 
            :id => "#{dom_id(p)}",
            :class => "checkbox #{p.show_in_homepage ? 'btn-success' : 'unselected'}" ) }.join.html_safe %> 
      <% end %> 
    <% else %> 
      <%= t(:'admin.games.collection.empty', :link => "").html_safe  %>
    <% end %>
    </div>
    <% end %>   
    <%= render_seo_accordion_group(f, 'content_accordion') %>   
<% else %>
  <%= render :partial => 'admin/sections/default_fields', :locals => {:f => f } %> 
<% end %>

