<% if record %>
<%
desc_omission = local_assigns.has_key?(:description_omission) ? description_omission : "[...]"
desc_length = local_assigns.has_key?(:description_length) ? description_length : 120
#@categories.map { |c| c.title.gsub( /\W/, '-' ).underscore }.join(' ')
%>

<li id="<%= dom_id(record) %>" class="filterable" <%= "data-tags='#{typehead_list(record.available_categories, "id")}'" if record.available_categories.any? %>>
	<div class="thumbnail">
    <div class='thumbnail-image'>
      <a href='<%= url_for([record.section, record]) %>' style='background: #fff url(<%= record.thumbnail('210x210#').url %>) no-repeat center center;'></a>
    </div>
    <div class="thumbnail-caption">
      <%= render_record_title(record) %>
    </div> 
 </div>

</li>
<% end %> 
