<%
has_stickers = @stickers.try(:any?)
has_categories = @categories.try(:any?)
%>
<%= page_title(resource.title) %>
<%= render "/images/shared/list", :images => @images if @images.try(:any?) %>
<%= resource_body_tag do %>
  <div class='html_text_wrapper'>
    <div class='html_text'>
      <%= resource.body.html_safe if resource.body.present? %>
    </div>
  </div>
  <div class='html_text_properties_wrapper'>
    <div class='html_text html_text_properties'>
      <% if resource.properties.present? %>
      <h3><%= t('games.properties') %></h3>
      <%= resource.properties.html_safe %>
      <% end %>
    </div>
  </div>
<% end %>